<div class="header">
  <div class="header-content">
    <div class="title">SISVITA</div>
    <div class="right-section">
      <div class="unmsm-section">
        <img src="assets/unmsm.png" alt="UNMSM Logo" class="unmsm-logo" />
        <span class="unmsm-text">UNMSM</span>
      </div>
    </div>
  </div>
</div>
<div class="user-selection-container">
  <div class="user-option">
    <img src="assets/FondoEstudiantes.png" alt="Estudiantes" class="user-image"/>
    <div class="user-option-content">
      <h2>Estudiante</h2>
      <button (click)="navigateTo('login')">Ingresar</button>
    </div>
  </div>
  <div class="user-option">
    <img src="assets/FondoApuntes.png" alt="Apuntes" class="user-image"/>
    <div class="user-option-content">
      <h2>Especialista</h2>
      <button (click)="navigateTo('login')">Ingresar</button>
    </div>
  </div>
</div>
<div class="terms">
  <a href="#">Términos y condiciones</a>
</div>
<div class="footer">
  <p>Sistema de Vigilancia de Trastornos de la Ansiedad (SISVITA) 2024</p>
</div>
